<div class="container">
	<div class="card results_card">
		<div class="card-header">
			<h2>Surveys</h2>
		</div>
		<% @quizzes.each do |quiz| %>
		<div class="card-body">
		 	<h5><%= quiz.name %></h5> <%= link_to "Take Survey", quiz_path(quiz) %></br>Subject: <%= quiz.subject %></br><%= link_to "Delete Survey", quiz_path(quiz), class: "delete_survey float-right", method: :delete %>
		</div>
		<% end %>
	</div>
</div>