<div class="container">
	<div class="col"></div>
	<div class="col">
		<div class="card results_card">
			<div class="card-header">
				<h2>Survey Results</h2>
			</div>
			<div class="card-body">
				<h4><%= @quiz.name %></h4>
				<p>You answered...</p>
				<ol>
					<% @user_quiz.taken_questions.each do |tq| %>
							<li><%= tq.response %></li>
					<% end %>
				</ol>
				<%= link_to "Take another survey", quizzes_path, class: "btn float-right oswald sign_in_button" %>
			</div>
		</div>
	</div>
	<div class="col"></div>
</div>