/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
	background: #76D9B9;
}
.oswald {
	font-family: 'Oswald', sans-serif;
}
.nav {
	background: #0E5159;
	height: 70px;
	width: 100%;
}
.brand {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
}
.nav_list {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
}
.nav-item {
 	float: right;
 	text-decoration: none;
 	margin: 0px 5px;
}
.dropdown_style {
	background: #0E5159;
}
.link_color_white {
	color: white;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-decoration: none;
}
.quiz_form_wrap {
	-webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.35);
	margin: 50px 0px 0px 0px;
	border-radius: 5px;
}
.quiz_form_header {
	background: #0E5159;
	border-radius: 5px 5px 0px 0px;
	height: 80px;
	padding: 15px 0px 15px 15px;
}
.quiz_form_body {
	background: #f2f3f4;
	border-radius: 0px 0px 5px 5px;
	padding: 33px 15px 67px 15px;
}
.quiz_form_submit_button {
	background-color: #0E5159;
	color: white;
	margin: 15px 0px 0px 0px;
}
.quiz_form_submit_button:hover {
  background-color: white;
  border-color: #0E5159;
  color: #0E5159;
}